.app{
  margin: 100px;
  @media (max-width: 480px) {
    margin: 20px;
  }
}


body {
  background-image: url("../src/img/home.png");
  min-height: 100vh;
}

.home{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  h1{
    font-size: 90px;
    @media (max-width: 480px) {
      font-size: 50px;
    }
  }
  h2{
    padding-left: 150px;
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
  h4{
    padding-left: 20px;
    @media (max-width: 480px) {
      font-size: 15px;
    }
  }
}
.home-left{
  margin-left: 40px;
  margin-top: 10px;
  @media (max-width: 480px) {
    margin-bottom: 100px;
  }
}
.home-arrow{
  margin-top: 170px;
  align-self: center;
  margin-bottom: 100px;
  @media (max-width: 480px) {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
.home-right{
  width: 60%;
  align-self:center;

  @media (max-width: 480px) {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
  background-color: #f2f1df;
  @media (max-width: 480px) {
    justify-content: flex-start;
  }
}
.header a{
  color: black;
  font-size: 18px;
}
/*.header-left {
  align-self: flex-start;
  margin-top: 17px;
  padding-left: 50px;
  font-size: 18px;
}*/
.header-right {
  margin-top: 10px;
  align-self: center;
  padding-right: 50px;
}
.hello {
  width:50%;
  padding-top: 150px;
  margin: auto;
}

.details {
  font-family: 'Baskervville';
  width:50%;
  padding-top: 10px;
  margin: auto;
  position: center;
}

.left-allign {
  font-family: 'Baskervville';
  padding : 10px;
}

.research {
  width: 100%;
  @media (max-width: 480px) {
    width: 100%;
    margin: auto;
  }
}

research-header {
  font-family: 'Baskervville';
  h5,h4{
    @media (max-width: 480px) {
      width: 75%;
    }
  }

}
.research-body {
  display: flex;
  justify-content: space-between;
  @media (max-width: 480px) {
    flex-flow: row wrap;
    flex-direction: column-reverse;
  }
}

.research-item-left {
  text-align: justify;
  align-self: flex-start;

}

.research-item-right {
  align-self: flex-end;
  img{
    padding-bottom: 30px;
    padding-left: 20px;
    @media (max-width: 480px) {
      margin: auto;
      width: 95%;
      align-self: center;
      padding-left: 25px;
    }
  }

}

.about {
  //padding : 20px;
  display: flex;
  flex-direction: column;
}
.about-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  img{
    @media (max-width: 480px) {
     width: 60%;
    }
  }
  @media (max-width: 480px) {
    flex-flow: row wrap;
  }
}
.about-left {
  align-self: flex-start;
  text-align: justify;
  width: 75%;
  padding-top: 10px ;
  img{
    width: 30%;
    margin-bottom: 10px;
    @media (max-width: 480px) {
      width: 100%;
    }
  }
  @media (max-width: 480px) {
    width: 100%;
  }
}
.about-center {
  border-left: 3px solid black;
  height: 200px;
  align-self: flex-end;
  @media (max-width: 480px) {
    border-left: none;
    flex-flow: column wrap;
    border-top: 30px solid black;
  }
}
.about-right {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  margin-bottom: 10px;
  @media (max-width: 480px) {
    display: none;
  }
}

.about-right-hori{
  display: none;
  img{
    @media (max-width: 480px) {
      width: 30%;
      padding-left:0;
    }
  }
  @media (max-width: 480px) {
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
  }
}

.footer {

  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: lightgrey;
  display: flex;
  justify-content: center ;
align-items: flex-start;
  overflow: hidden;
  z-index: 1000;
  margin-top: auto;
  @media (max-width: 480px) {
    justify-content: center;
    padding-left: 65px;
  }
}

.accordion{
  margin-top: 20px;
  .card{
    border: 0;
  }
}
.accordion>.card>.card-header{
  background: black;
  button{
    text-align: right;
    @media (max-width: 480px) {
      text-align: center;
    }
  }

}
.card-body{
  background: darkgrey;
  color: white;
}


.navbar-nav{
  .nav-item{
    .nav-link {
      padding-right: 2.5rem;
      padding-left: 2.5rem;
    }
  }
}

.card-row-1{
  display: flex;
  flex-direction: row;
  @media (max-width: 480px) {
    flex-flow: row wrap;
  }
  justify-content: space-around;
}
.project{
  width: 90%;
  margin: auto;
  @media (max-width: 480px) {
    display: none;
    width: 100%;
    font-size: 12px;
  }
}
.projects-mobile{
  display: none;
  @media (max-width: 480px) {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
}

.bg-light{
  background-color: #f2f1df !important;
}